<div class="grid-container">
  <div
    class="card quote-card shadow shadow-light m-2 border-0"
    *ngFor="let quote of quotes; let i = index"
  >
    <div class="card-body">
      <div class="header-container">
        <h4 class="card-title quote-title">{{ quote.title }}</h4>
        <button class="trash-button" (click)="deleteQuote(i)">
          <img src="../../assets/trashIcon.png" class="trash-img" alt="trash" />
        </button>
      </div>
      <p class="card-text quote-description">{{ quote.description }}</p>
      <div class="date-row">
        <p class="date-text">{{ quote.createdON }}</p>
      </div>
      <div class="votes-row">
        <button
          class="btn btn-sm quote-button primary-button mx-2"
          (click)="addUpVote(i)"
        >
          Vote Up ({{ quote.upVotes }})</button
        ><button
          class="btn btn-sm quote-button secondary-button mx-2"
          (click)="addDownVote(i)"
        >
          Vote Down ({{ quote.downVotes }})
        </button>
      </div>
    </div>
  </div>

  <button
    class="nav-link primary-button btn new-quote-button"
    data-toggle="modal"
    data-target="#newQuote"
  >
    +
  </button>
  <div
    class="modal fade overlay"
    id="newQuote"
    tabindex="-1"
    aria-labelledby="newQuote"
    aria-hidden="true"
  >
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
