.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.trash-button {
  width: 50px;
  margin: 0;
  background-color: transparent;
  border-width: 0;
}

.trash-img {
  width: 75%;
  height: auto;
  margin: auto 0;
}

.date-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.date-text {
  font-size: 12px;
  color: #e31e27;
  font-weight: 700;
  padding: 0 20px;
}

.votes-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.quote-card {
  width: 350px;
  background-color: #000;
  color: #f7f7f7;
  border-radius: 15px;
}

.quote-title {
  font-weight: 700;
  color: #e31e27;
}

.quote-description {
  height: 75px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 15px;
  padding: 5px 20px;
  text-align: end;
}

.quote-button {
  font-size: 13px;
}

.new-quote-button {
  position: fixed;
  border-width: 0;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  border-radius: 40px;
  font-size: 30px;
  padding: auto 0;
}
