<nav class="navbar navbar-expand-lg primary-background">
  <a class="navbar-brand nav-texts" href="#">Quote Manger</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-links-container">
      <li class="nav-item">
        <button
          class="nav-link light-button btn"
          data-toggle="modal"
          data-target="#newQuote"
        >
          New Quote
        </button>
        <div
          class="modal fade overlay"
          id="newQuote"
          tabindex="-1"
          aria-labelledby="newQuote"
          aria-hidden="true"
        >
          <app-quote-form></app-quote-form>
        </div>
      </li>
    </ul>
  </div>
</nav>
