<div class="modal-dialog">
  <div class="modal-content modal-background">
    <div class="modal-header">
      <h5 class="modal-title primary-text" id="exampleModalLabel">
        Add a New Quote
      </h5>
      <button
        type="button"
        class="close primary-text"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #quoteForm="ngForm" (ngSubmit)="submitQuote()">
        <div class="form-group">
          <label for="quoteTitle" class="light-text form-lable"
            >Author Name</label
          >
          <input
            [(ngModel)]="newQuote.author"
            #author="ngModel"
            type="text"
            name="quoteAuthor"
            id="quoteAuthor"
            class="form-control form-control-sm form-input"
            placeholder="Enter your first and last names."
            aria-describedby="helpId"
            required
          />
          <div
            [hidden]="author.valid || author.pristine"
            class="alert alert-danger"
          >
            <small id="helpId" class="text-muted">Author Invalid</small>
          </div>
        </div>
        <div class="form-group">
          <label for="quoteTitle" class="light-text form-lable"
            >Quote Title</label
          >
          <input
            [(ngModel)]="newQuote.title"
            #title="ngModel"
            type="text"
            name="quoteTitle"
            id="quoteTitle"
            class="form-control form-control-sm form-input"
            placeholder="Enter the name of the quote"
            aria-describedby="helpId"
            required
          />
          <div
            [hidden]="title.valid || title.pristine"
            class="alert alert-danger"
          >
            <small id="helpId" class="text-muted">Title Invalid</small>
          </div>
        </div>
        <div class="form-group">
          <label for="quoteDescription" class="light-text form-lable"
            >Quote Description</label
          >
          <textarea
            [(ngModel)]="newQuote.description"
            #description="ngModel"
            type="text"
            name="quoteDescription"
            id="quoteDescription"
            rows="6"
            class="form-control form-control-sm form-input"
            placeholder="Enter a description of the quote"
            aria-describedby="helpId"
            required
          ></textarea>
          <div
            [hidden]="description.valid || description.pristine"
            class="alert alert-danger"
          >
            <small id="helpId" class="text-muted">Description Invalid</small>
          </div>
        </div>
        <button
          type="button"
          class="btn mx-2 secondary-button"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="submit"
          id="quoteFormSubmit"
          class="btn mx-2 primary-button"
        >
          Save changes
        </button>

        <button data-dismiss="modal" hidden id="dismissModal"></button>
      </form>
    </div>
  </div>
</div>
